<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.ricknout.mdctheming">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".theming.ThemingActivity"
                android:label="@string/title_theming" />

        <activity
                android:name=".bottomappbar.BottomAppBarActivity"
                android:label="@string/title_bottom_app_bar"
                android:theme="@style/AppTheme.BottomAppBar.Themed" />

        <activity
                android:name=".bottomnavigation.BottomNavigationActivity"
                android:label="@string/title_bottom_navigation"
                android:theme="@style/AppTheme.BottomNavigation.Themed" />

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>
